{% extends "base.html" %}
{% load humanize %}
{% load martortags %}

{% block title %}{{ post.title }} | {{ block.super }}{% endblock %}

{% block open_graph %}
  <meta property="og:title" content="{{ post.title }}" />
  <meta property="og:url" content="{{ open_graph_url }}" />
  {% if post.open_graph_image %}
  <meta property="og:image" content="{{ post.open_graph_image.url }}" />
  {% endif %}
  <meta property="og:type" content="article" />
  <meta property="og:description" content="{{ post.open_graph_description }}" />
{% endblock %}

{% block content %}
<div class="ui main text container">
  <div class="ui breadcrumb">
    <a href="/" class="section">Home</a>
    <div class="divider"> / </div>
    <a href="/p/" class="section">Posts</a>
    <div class="divider"> / </div>
    <div class="active section">
      {% if is_trending %}
        <em data-emoji="fire"></em>{{ post.title }}<em data-emoji="fire"></em>
      {% else %}
        {{ post.title }}
      {% endif %}

    </div>
    {% if request.user.is_staff %}
      <div class="divider"> / </div>
      <a href="{% url "newsletter:update_post" slug=post.slug %}" class="section">Edit</a>
    {% endif %}
  </div>
  <p>
    Posted {{ post.publish_date|naturaltime }}
  </p>
  {{ post.content|safe_markdown }}
</div>

{% endblock %}
