{% extends "base.html" %}
{% load humanize %}
{% load martortags %}

{% block title %}{{ post.title }} | {{ block.super }}{% endblock %}

{% block content %}
<div class="ui main text container">
  <div class="ui breadcrumb">
    <a href="{% url "newsletter:landing" %}" class="section">Home</a>
    <div class="divider"> / </div>
    <a href="{% url "newsletter:list_posts" %}" class="section">Posts</a>
    <div class="divider"> / </div>
    <div class="active section">{{ post.title }}</div>
  </div>
  <p>
    Posted {{ post.publish_date|naturaltime }}
  </p>
  {{ post.content|safe_markdown }}
</div>

{% endblock %}
