{% extends "base.html" %}
{% load humanize %}
{% load martortags %}
{% load newsletter_utils %}

{% block content %}

  <div class="ui vertical stripe segment">
    <div class="ui text container">
      <div class="ui breadcrumb">
        <a href="{% url "newsletter:landing" %}" class="section">Home</a>
        <div class="divider"> / </div>
        <div class="active section">Posts</div>
      </div>
      <div class="ui pagination menu">
        {% for index in page_range %}
          <a class="item {% if index|is_ellipsis %}disabled{% elif index == page.number %}active{% endif %}"
             href="{% if index|is_ellipsis %}#{% else %}?page={{ index }}{% endif %}"
          >{{ index }}</a>
        {% endfor %}
      </div>
      {% for post in page %}
        <h3 class="ui header">{{ post.title }}</h3>
        <h5>{{ post.publish_date|date:"SHORT_DATETIME_FORMAT" }}</h5>
        <p>{{ post.summary|safe_markdown }}</p>
        <div class="ui grid middle aligned">
          <div class="left floated six wide column">
            <a href="{{ post.get_absolute_url }}" class="ui large button">Read More</a>
          </div>
          {% if request.user.is_staff %}
            <div class="right floated six wide column">
              <a href="{% url "newsletter:update_post" slug=post.slug %}" class="ui basic compact button">Edit</a>
            </div>
          {% endif %}
        </div>
        {% if not forloop.last %}
          <div class="ui section divider"></div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

{% endblock %}
