{% extends "base.html" %}
{% load humanize %}
{% load newsletter_utils %}

{% block content %}

  <div class="ui vertical stripe segment">
    <div class="ui text container">
      <div class="ui breadcrumb">
        <a href="{% url "newsletter:landing" %}" class="section">Home</a>
        <div class="divider"> / </div>
        <div class="active section">Posts</div>
      </div>
      <div class="ui pagination menu">
        {% for index in page_range %}
          <a class="item {% if index|is_ellipsis %}disabled{% elif index == page.number %}active{% endif %}"
             href="{% if index|is_ellipsis %}#{% else %}?page={{ index }}{% endif %}"
          >{{ index }}</a>
        {% endfor %}
      </div>
      {% for post in page %}
        {% include "posts/includes/list_item.html" with post=post %}
        {% if not forloop.last %}
          <div class="ui section divider"></div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

{% endblock %}
