{% load martortags %}

<h3 class="ui header">{{ post.title }}</h3>

<div class="ui grid middle aligned">
  <div class="left floated six wide column">
  </div>
  <div class="right floated six wide column">
    <span class="ui small text">
      {% for category in post.categories.all %}
        {{ category.title }}{% if not forloop.last %}, {% endif %}
      {% endfor %}
    </span>
  </div>
</div>

<p>{{ post.summary|safe_markdown }}</p>
<div class="ui grid middle aligned">
  <div class="left floated six wide column">
    <a href="{{ post.get_absolute_url }}" class="ui large button">Read More</a>
  </div>
  {% if request.user.is_staff %}
    <div class="right floated six wide column">
      <form action="{% url "newsletter:toggle_post_privacy" slug=post.slug %}?next={{ request.path }}" method="post">
        {% csrf_token %}
        <div class="ui buttons">
          <a href="{% url "newsletter:update_post" slug=post.slug %}" class="ui basic compact button">Edit</a>
          <button class="ui basic compact button" type="submit">Set to {% if post.is_public %}private{% else %}public{% endif %}</button>
        </div>
      </form>
    </div>
  {% endif %}
</div>
